.task {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 20px;
  font-weight: bold;
}

.progress {
  color: gray;
}
.progress.completed {
  color: green;
}
.progress.onwork {
  color: blue;
}
.progress.not-yet {
  color: red;
}
