.heading {
  color: red;
}
.form-control {
  display: flex;
  flex-direction: column;
}
.input {
  width: 100%;
  border-color: black;
}
.form small {
  font-size: 12;
  color: red;
}
.input.error {
  border-color: red;
}
.form button {
  width: 100%;
}
